@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common styling */
/* .card {
  box-shadow: 0 0 2px gray;
} */
.normal-text {
  font-size: 1rem;
}
.cart-title {
  font-size: 1.5rem;
  font-weight: bold;
}
/* Common styling */
.authentication {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .authentication-form{
    
} */
